<header>
  <div class="container">
    <div class="header-area">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="content">
            <h1 class="display-3 fw-bold">Service</h1>
            <p class="lh-lg text-muted py-2">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna.
            </p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="image position-relative">
            <img
              class="w-100"
              src="./assets/images/32.png"
              alt="sociy photo"
            />
            <div
              class="img-icon1 position-absolute top-0 start-0 translate-middle-x"
            >
              <img
                class="img-fluid"
                src="./assets/images/21.png"
                alt="icon"
              />
            </div>
            <div class="img-icon1 position-absolute bottom-0 end-0">
              <img
                class="img-fluid"
                src="./assets/images/22.png"
                alt="icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <!-- ------------ Start Our Service ------------ -->
  <section class="our-service">
    <div class="container text-center">
      <div class="main-title" data-aos="fade-down-right">
        <h2 class="display-4 fw-semibold mb-5">Our Service</h2>
      </div>
      <div class="content-our pt-5" data-aos="fade-up-left">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-5">
          <div class="col" data-aos="fade-left" data-aos-delay="300">
            <div class="icon-our">
              <img src="./assets/images/ic-6.png" alt="icon photo" />
            </div>
            <h3 class="fw-bold my-3">Food Delivery</h3>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="col" data-aos="fade-right" data-aos-delay="600">
            <div class="icon-our">
              <img src="./assets/images/ic-5.png" alt="icon photo" />
            </div>
            <h3 class="fw-bold my-3">Grocery Delivery</h3>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="col" data-aos="fade-left" data-aos-delay="300">
            <div class="icon-our">
              <img src="./assets/images/ic-1.png" alt="icon photo" />
            </div>
            <h3 class="fw-bold my-3">Drive In Restaurant</h3>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="col" data-aos="flip-up" data-aos-delay="600">
            <div class="icon-our">
              <img src="./assets/images/ic-4.png" alt="icon photo" />
            </div>
            <h3 class="fw-bold my-3">Grocery Shopping</h3>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="col" data-aos="fade-right" data-aos-delay="300">
            <div class="icon-our">
              <img src="./assets/images/ic-3.png" alt="icon photo" />
            </div>
            <h3 class="fw-bold my-3">Food Delivery</h3>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
          <div class="col" data-aos="flip-up" data-aos-delay="800">
            <div class="icon-our">
              <img src="./assets/images/ic-2.png" alt="icon photo" />
            </div>
            <h3 class="fw-bold my-3">Join Courier</h3>
            <p class="text-black-50">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ------------ End Our Service ------------ -->
  <!-- ------------ Start Make You Easier And Happier ------------ -->
  <section class="easier">
    <div class="container">
      <p class="te-green fw-bold small" data-aos="fade-right">
        <i class="fa-regular fa-money-bill-1 fa-lg"></i> Download App And Get
        Your Discount
      </p>
      <div class="row align-baseline mb-5" data-aos="fade-left">
        <div class="col-lg-4">
          <div class="main-title">
            <h2 class="display-6 fw-semibold">
              Make You Easier<br />
              And Happier
            </h2>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-2">
          <p class="lead text-black-50">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </p>
        </div>
      </div>
      <div class="content pt-5 text-center">
        <div class="row gy-3 justify-content-center">
          <div
            class="col-md-6 col-lg-4"
            data-aos="fade-left"
            data-aos-delay="300"
          >
            <div class="item">
              <img
                class="img-fluid"
                src="./assets/images/Delivery-cuate.png"
                alt="delivery photo"
              />
              <h3 class="mt-4">The Best Courier</h3>
              <p class="lh-lg text-black-50">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy
              </p>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4"
            data-aos="fade-right"
            data-aos-delay="600"
          >
            <div class="item">
              <img
                class="img-fluid"
                src="./assets/images/InteractionDesign-cuate.png"
                alt="InteractionDesign photo"
              />
              <h3 class="mt-4">Easy To Use</h3>
              <p class="lh-lg text-black-50">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy
              </p>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4"
            data-aos="fade-left"
            data-aos-delay="900"
          >
            <div class="item">
              <img
                class="img-fluid"
                src="./assets/images/Socialmedia-cuate.png"
                alt="Socialmedia photo"
              />
              <h3 class="mt-4">24/7 Support</h3>
              <p class="lh-lg text-black-50">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ------------ End Make You Easier And Happier ------------ -->
  <!-- ------------ Start Wait a Minute For Delicious ------------ -->
  <section class="wait">
    <div class="container">
      <div class="wait-area">
        <div class="row gy-4">
          <div class="col-lg-5" data-aos="fade-up-right">
            <div class="image">
              <img
                class="w-100"
                src="./assets/images/34.png"
                alt="food photo"
              />
            </div>
          </div>
          <div class="col-lg-6 offset-lg-1" data-aos="fade-up-left">
            <div class="main-title">
              <h2 class="display-6 fw-semibold">
                Wait a Minute For<br />
                Delicious
              </h2>
            </div>
            <p class="lead text-black-50 lh-lg small py-4">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam.
            </p>
            <div class="wait-info col-lg-10 col-md-9 rounded-5 shadow p-3">
              <img
                class="img-fluid"
                src="./assets/images/35.png"
                alt="persone photo"
              />
              <p class="small text-black-50 lh-lg">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et
              </p>
              <div class="hstack">
                <h3 class="small mb-0 me-2">AHMED MENISY</h3>
                <ul class="list-inline te-yellow small mb-0">
                  <li class="list-inline-item">
                    <i class="fa-solid fa-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa-solid fa-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa-solid fa-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa-solid fa-star"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="fa-solid fa-star"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ------------ Wait a Minute For Delicious ------------ -->
  <!-- ------------ Start Frequently Asked Questions ------------ -->
  <section class="frequently">
    <div class="container frequently-area">
      <div class="row row-cols-1 row-cols-lg-2 gy-4 align-items-center">
        <div class="col" data-aos="fade-up">
          <div class="item">
            <div class="main-title mb-5">
              <h2 class="display-6 fw-semibold">
                Frequently Asked<br />
                Questions
              </h2>
            </div>
            <div class="content">
              <div class="question border-bottom pb-3 pt-1">
                <button
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  class="d-flex align-items-center p-2 w-100 re-btn fw-bold justify-content-between"
                  (click)="show($event)"
                >
                  <h3 class="mb-0 h5 fw-bold">How Long My Order Delivery?</h3>
                  <span> <i class="fa-solid fa-minus"></i></span>
                </button>
                <p
                  class="text-black-50 lh-lg small collapse show"
                  id="collapseExample"
                >
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam.
                </p>
              </div>
              <div class="question border-bottom pb-3 my-3 pt-1">
                <button
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample2"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  class="d-flex align-items-center p-2 w-100 re-btn fw-bold justify-content-between"
                  (click)="show($event)"
                >
                  <h3 class="mb-0 h5 fw-bold">What Kind Payment Available?</h3>
                  <span> <i class="fa-solid fa-plus"></i></span>
                </button>
                <p
                  class="text-black-50 lh-lg small collapse"
                  id="collapseExample2"
                >
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam.
                </p>
              </div>
              <div class="question border-bottom pb-3 pt-1">
                <button
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample3"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                  class="d-flex align-items-center p-2 w-100 re-btn fw-bold justify-content-between"
                  (click)="show($event)"
                >
                  <h3 class="mb-0 h5 fw-bold">Can I Order For Someone?</h3>
                  <span> <i class="fa-solid fa-plus"></i></span>
                </button>
                <p
                  class="text-black-50 lh-lg small collapse"
                  id="collapseExample3"
                >
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                  diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col" data-aos="zoom-in-up">
          <div class="image text-center">
            <img
              class="img-fluid"
              src="./assets/images/38.png"
              alt="burger photo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ------------ Wait Frequently Asked Questions ------------ -->
</main>
