:host {
  section {
    padding: 5rem 0;
  }

  .icon-our {
    img {
      width: 45px;
    }
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;

    border-radius: 1rem;
    margin: 0 auto;
    background-image: linear-gradient(120deg, #519259 40%, #8ddf97);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .wait-info img {
    transform: translateY(-50%);
    filter: drop-shadow(0 0 10px rgb(0, 0, 0, 0.2));
  }

  .frequently {
    .question {
      button {
        color: var(--green);
      }

      .title-quetion {
        &::before {
          content: attr(data-num) "-";
        }
      }
    }

    .image {
      position: relative;
      &::before {
        position: absolute;
        z-index: -1;
        content: "";
        inset: 80px;
        border-radius: 1rem;
        background-color: #f8fcf8;
      }
    }
  }
}
