<header>
  <div class="container">
    <div
      class="row flex-wrap-reverse row-cols-1 row-cols-lg-2 align-items-center gy-4"
    >
      <div class="col" data-aos="fade-right">
        <div class="content">
          <h1
            class="display-3 fw-bold"
            data-aos="fade-left"
            data-aos-delay="1000"
          >
            About Us
          </h1>
          <p
            class="lead text-muted mt-4"
            data-aos="fade-left"
            data-aos-delay="700"
          >
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna.
          </p>
        </div>
      </div>
      <div class="col position-relative" data-aos="fade-left">
        <div class="image">
          <img
            class="img-fluid"
            src="./assets/images/20.png"
            alt="about photo food"
          />
        </div>
        <div
          class="img-icon position-absolute start-0 top-0 translate-middle-x"
        >
          <img src="./assets/images/21.png" alt="vegitas photo" />
        </div>
        <div
          class="img-icon position-absolute end-0 bottom-0 translate-middle-x"
        >
          <img src="./assets/images/22.png" alt="vegitas photo" />
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <!-- --------------- Start Serve ---------------  -->
  <section class="serve">
    <div class="container">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-5" data-aos="fade-up">
          <div class="image position-relative">
            <img class="w-100" src="./assets/images/23.png" alt="phone photo" />
            <div
              class="we-are--one bg-white rounded-2 p-2 d-flex gap-3 text-nowrap align-items-center position-absolute start-100 top-0 mt-4 translate-middle-x"
            >
              <img
                class="img-fluid"
                src="./assets/images/29.png"
                alt="badge photo"
              />
              <h6>
                We Are <br />
                Number 1
              </h6>
            </div>
            <div
              class="we-name--item bottom-0 translate-middle-y mt-n5 start-0 position-absolute p-4 bg-white rounded-2"
            >
              <div class="hstack gap-3 align-items-center">
                <div class="image">
                  <img
                    class="img-fluid"
                    src="./assets/images/24.png"
                    alt="photo persone"
                  />
                </div>
                <div class="info">
                  <h4 class="h6">Angel Jessica</h4>
                  <ul class="list-inline mb-0 small">
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star te-yellow"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star te-yellow"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star te-yellow"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star te-yellow"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star te-yellow"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <p class="small">
                Lorem ipsum dolor sit amet, consetetur<br />
                sadipscing elitr, sed diam nonumy
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1" data-aos="fade-down">
          <div class="content">
            <h2 class="display-6 fw-semibold">
              We Serve Door to Door<br />
              Dood Delivery
            </h2>
            <p class="text-muted lead lh-lg pt-4">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua.
            </p>
            <p class="text-muted lead lh-lg pt-3">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua.
            </p>
            <button class="re-btn hstack fw-bold fs-5 mt-4">
              <i class="fa-solid fa-play pe-3 te-green fa-lg"></i> Watch Video
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- End Serve ---------------  -->
  <!-- --------------- Start Our Mission ---------------  -->
  <section class="mission">
    <div class="container">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-5" data-aos="zoom-in-right">
          <h2 class="display-6 fw-semibold">
            Our Mission is to Evolve<br />
            Local Businesses
          </h2>
          <p class="pt-3 pb-4 lh-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            pharetra metus metus, vitae consequat justo facilisis at. Nunc
            vestibulum augue iaculis augue bibendum iaculis.
          </p>
          <button class="bl-re bl-green">Register Now</button>
        </div>
        <div class="col-lg-6 offset-lg-1" data-aos="zoom-in-left">
          <div class="content">
            <ol class="list-unstyled">
              <li
                class="mb-4"
                data-aos="flip-right"
                data-aos-delay="300"
                data-aos-offset="0"
              >
                <h3 class="fw-semibold mb-2">Increase Customers</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing <br />elitr,
                  sed diam nonumy
                </p>
              </li>
              <li
                class="mb-4"
                data-aos="flip-right"
                data-aos-delay="600"
                data-aos-offset="0"
              >
                <h3 class="fw-semibold mb-2">Sell More Food</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing <br />elitr,
                  sed diam nonumy
                </p>
              </li>
              <li
                class="mb-4"
                data-aos="flip-right"
                data-aos-delay="800"
                data-aos-offset="0"
              >
                <h3 class="fw-semibold mb-2">Income Increases</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing <br />elitr,
                  sed diam nonumy
                </p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- End Our Mission ---------------  -->
  <!-- --------------- Start Best Service ---------------  -->
  <section class="best-service" #bestServices>
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-8" data-aos="fade-right">
          <h2 class="display-6 fw-semibold">
            Best Service to Fulfill Your<br />
            Expectations.
          </h2>
          <div class="image mt-5">
            <img class="w-100" src="./assets/images/27.png" alt="pizza photo" />
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1" data-aos="fade-left">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item py-4 mt-1"
              data-aos="fade-up"
              data-aos-offset="0"
              data-aos-delay="200"
            >
              <p class="te-green fw-bold h2"><span data-num="800">0</span>K+</p>
              <p class="fw-bold h4 pt-3">Users Download</p>
            </li>
            <li
              class="list-group-item py-4 mt-1"
              data-aos="fade-up"
              data-aos-offset="0"
              data-aos-delay="300"
            >
              <p class="te-green fw-bold h2"><span data-num="650">0</span>K+</p>
              <p class="fw-bold h4 pt-3">Users Order</p>
            </li>
            <li
              class="list-group-item py-4 mt-1"
              data-aos="fade-up"
              data-aos-offset="0"
              data-aos-delay="400"
            >
              <p class="te-green fw-bold h2">
                <span data-num="1200">0</span>K+
              </p>
              <p class="fw-bold h4 pt-3">Merchant</p>
            </li>
            <li
              class="list-group-item py-4 mt-1"
              data-aos="fade-up"
              data-aos-offset="0"
              data-aos-delay="500"
            >
              <p class="te-green fw-bold h2"><span data-num="100">0</span>K+</p>
              <p class="fw-bold h4 pt-3">Cities</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- End Best Service ---------------  -->
  <!-- --------------- Start What Customers Say About us ---------------  -->
  <section class="custom-say">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5" data-aos="flip-left">
          <div class="image">
            <img class="w-100" src="./assets/images/11.png" alt="photo icon" />
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1" data-aos="flip-right">
          <div class="item">
            <h2 class="display-6 fw-semibold">
              What Customers Say<br />
              About us
            </h2>
            <p class="lead text-muted lh-lg">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
              erat, sed diam voluptua.
            </p>
            <div class="person-info hstack">
              <div class="image flex-shrink-0">
                <img
                  class="img-fluid"
                  src="./assets/images/30.png"
                  alt="persone photo"
                />
              </div>
              <div class="person-content ms-2">
                <h3 class="h5">Mohamed Mustafa</h3>
                <p class="mb-0 text-muted">Food Lovers</p>
              </div>
            </div>
            <ul class="list-inline te-yellow mt-4">
              <li class="list-inline-item">
                <i class="fa-solid fa-star"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-star"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-star"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-star"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-star"></i>
              </li>
              <li class="list-inline-item text-dark">(5.0)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- End What Customers Say About us ---------------  -->
  <section class="besst-food">
    <div class="container">
      <div class="row flex-wrap-reverse gy-4 align-items-center">
        <div class="col-lg-5" data-aos="zoom-in">
          <h2 class="display-6 fw-semibold">
            The Best Food Delivery <br />App. Download Now!
          </h2>
          <p class="lh-lg text-muted py-3">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </p>
          <div class="data-besst">
            <h4>Download Available</h4>
          <div class="hstack flex-wrap">
            <div class="image">
              <img src="./assets/images/app.png" alt="app store" />
            </div>
            <div class="image">
              <img src="./assets/images/google.png" alt="google store" />
            </div>
          </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-2" data-aos="zoom-in-up">
          <div class="image">
            <img class="w-100" src="./assets/images/31.png" alt="phone photo" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- --------------- End What Customers Say About us ---------------  -->
</main>
