<footer class="position-relative text-center text-lg-start">
  <div class="imag position-absolute top-0 end-0 ">
    <img src="./assets/images/ic.png" alt="icon photo">
  </div>
  <div class="container">
    <div class="main-title">
      <h2 class="te-green fw-bold hstack h4">
        <img src="./assets/images/3.png" />
        <span class="ms-1">Food<span class="te-yellow">Road</span></span>
      </h2>
    </div>
    <div class="content mt-5">
      <div class="row gy-4">
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="footer-item">
            <h3 class="fw-bold">Why Us?</h3>
            <ul class="list-unstyled mt-4">
              <li class="mb-3 text-muted">Responsive</li>
              <li class="mb-3 text-muted">Engagement</li>
              <li class="mb-3 text-muted">Scale</li>
              <li class="mb-3 text-muted">Watch the Demo</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="footer-item">
            <h3 class="fw-bold">Resources</h3>
            <ul class="list-unstyled mt-4">
              <li class="mb-3 text-muted">Developers</li>
              <li class="mb-3 text-muted">Apps</li>
              <li class="mb-3 text-muted">Blog</li>
              <li class="mb-3 text-muted">Help Center</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="footer-item">
            <h3 class="fw-bold">Company</h3>
            <ul class="list-unstyled mt-4">
              <li class="mb-3 text-muted">About</li>
              <li class="mb-3 text-muted">Merchant</li>
              <li class="mb-3 text-muted">Career</li>
              <li class="mb-3 text-muted">Contact</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="footer-item">
            <h3 class="fw-bold">Our Social Media</h3>
            <ul class="list-inline mt-4">
              <li class="list-inline-item">
                <span class="icon"
                  ><a
                    href="https://www.facebook.com/ahmed.m.menisy"
                    target="_blank"
                    class="text-reset"
                    ><i class="fa-brands fa-facebook-f"></i></a
                ></span>
              </li>
              <li class="list-inline-item">
                <span class="icon"
                  ><a
                    href="https://github.com/ahmed-menisy?tab=repositories"
                    target="_blank"
                    class="text-reset"
                    ><i class="fa-brands fa-github"></i></a
                ></span>
              </li>
              <li class="list-inline-item">
                <span class="icon"
                  ><a
                    href="https://www.linkedin.com/in/ahmed-menisy/"
                    target="_blank"
                    class="text-reset"
                    ><i class="fa-brands fa-linkedin-in"></i></a
                ></span>
              </li>
            </ul>
            <h4 class="py-3">Download App</h4>
            <div class="row row-cols-1 row-cols-md-2 gy-3">
              <div class="col">
                <img
                  class="w-100"
                  src="./assets/images/app.png"
                  alt="app photo"
                />
              </div>
              <div class="col">
                <img
                  class="w-100"
                  src="./assets/images/google.png"
                  alt="app photo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copy-right mt-4">
  <div class="container">
    <h4 class="text-center  py-4 mb-0 border-top border-secondary border-opacity-25 text-muted small">
      Copyright © {{date}} <span class="te-green fw-bold">AHMED MENISY</span>
    </h4>
  </div>
</div>
