<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let food of ourFood">
    <ng-template  carouselSlide [id]="food.title">
      <div #item (click)="check($event,food.title)" (touchend)="check($event,food.title)"  class="item  rounded-5 py-5 text-center" data-aos="fade-right">
        <div class="image">
          <img
            class="img-fluid mx-auto"
            [src]="food.img"
            [alt]="food.title"
            [title]="food.title"
          />
        </div>
        <h3 class="h4 mt-4">{{ food.title }}</h3>
        
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
